@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background: url('https://res.cloudinary.com/dlhktanwi/image/upload/v1725026640/bg-hero-banner_hxciul.svg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
