@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.about-us-container {
    padding: 40px;
    padding-top: 20px;
    max-width: 1090px;
    margin: 10px auto;
    margin-top: 100px;
    background-color: rgba(249, 249, 249, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #1790E3;
    text-align: center;
    padding: 0.5rem;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.about-us-intro p,
.about-us-mission p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}

.about-us-features ul {
    list-style-type: none;
    padding: 0;
}

.about-us-features li {
    font-size: 1.1em;
    background: #dce0df;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.7s, transform 0.7s;
    cursor: pointer;
}

.about-us-features li:hover {
    background-color: #b0b9b8;
    transform: translateY(-3px);
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f5;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s ease;
    margin: 20px;
    text-align: center;
}

.team-member:hover {
    transform: scale(1.05);
    background-color: #eeeef3;
    transition: transform 0.7s ease;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.about-us-contact h2 {
    color: #1790E3;
    text-align: center;
    padding: 0.3rem;
    font-size: 1.7rem;
}

.about-us-contact p {
    text-align: center;
    font-size: 0.9rem;
}

.about-us-contact a {
    color: #1790E3;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.about-us-contact a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .about-us-container {
        padding: 30px;
        margin: 10px;
        margin-top: 100px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    .about-us-intro p,
    .about-us-mission p {
        font-size: 1em;
    }

    .team-member img {
        width: 120px;
        height: 120px;
    }

    .about-us-contact h2 {
        font-size: 1.5rem;
    }

    .about-us-contact p {
        font-size: 0.85rem;
    }

    .about-us-features li {
        font-size: 1em;
        padding: 9px;
    }
}

@media (max-width: 768px) {
    .about-us-container {
        padding: 20px;
        margin: 10px;
        margin-top: 100px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .about-us-intro p,
    .about-us-mission p {
        font-size: 0.9em;
    }

    .team-member img {
        width: 110px;
        height: 110px;
    }


    .about-us-contact h2 {
        font-size: 1.3rem;
    }

    .about-us-contact p {
        font-size: 0.8rem;
    }


    .about-us-features li {
        font-size: 0.9em;
        padding: 8px;
    }


}

@media (max-width: 480px) {
    .about-us-container {
        padding: 15px;
        margin: 10px;
        margin-top: 100px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    .about-us-intro p,
    .about-us-mission p {
        font-size: 0.8em;
    }

    .team-member img {
        width: 100px;
        height: 100px;
    }

    .about-us-contact h2 {
        font-size: 1.1rem;
    }

    .about-us-contact p {
        font-size: 0.75rem;
    }


    .about-us-features li {
        font-size: 0.8em;
        padding: 6px;
    }
}